{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
    <div class="single-technology">
        <div class="tech-menu">
           <h2><a href="{{base_url}}/technology/css">CSS</a></h2>
           <h2><a href="{{base_url}}/technology/git">Git</a></h2>
           <h2><a href="{{base_url}}/technology/html">Html</a></h2>
           <h2><a href="{{base_url}}/technology/javascript">JavaScript</a></h2>
           <h2><a href="{{base_url}}/technology/php">PHP</a></h2>
           <h2><a href="{{base_url}}/technology/python">Python</a></h2>
           <h2><a href="{{base_url}}/technology/sqlite">SQLite</a></h2>
        </div>
        <div class="article-content">
             {{ content }}
        </div>
       
       
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

