{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
    <div class="single-technology">
        <div class="tech-menu">
           <h2><a href="{{base_url}}/technology/css" aria-label="CSS">CSS</a></h2>
           <h2><a href="{{base_url}}/technology/git" aria-label="Git">Git</a></h2>
           <h2><a href="{{base_url}}/technology/html" aria-label="HTML">HTML</a></h2>
           <h2><a href="{{base_url}}/technology/javascript" aria-label="JavaScript">JavaScript</a></h2>
           <h2><a href="{{base_url}}/technology/php" aria-label="PHP">PHP</a></h2>
           <h2><a href="{{base_url}}/technology/python" aria-label="Python">Python</a></h2>
           <h2><a href="{{base_url}}/technology/sqlite" aria-label="SQLite">SQLite</a></h2>
        </div>
        <div class="article-content">
             {{ content }}
        </div>
       
       
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

